.booking-details {
  border: 1px solid #1c4274;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  background-color: #f0f8ff;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: grow 1;
}

.booking-button {
  background-color: #aae858;
  color: #1c4274;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.booking-button:hover {
  background-color: #91c341;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.booking-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
}

@media (max-width: 600px) {
  .booking-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .booking-button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
